.portifolio {
   padding-bottom: 100px;
   .portifolio-review {
      .portifolio-title {
         text-align: center;
         h1 {
            font-size: 36px;
         }
         p {
            font-size: 15px;
            color: #8d9199;
         }
      }
      .standard_wrapper {
         display: flex;
         justify-content: center;

         margin: 20px 0;
         .standard_wrapper-items {
            flex-basis: 25%;
            margin: 0 20px;
            max-width: 250px;
            text-align: center;
            img {
               width: 70%;
               object-fit: cover;
            }
            h3 {
               white-space: nowrap;
            }
            p {
               font-size: 13px;
            }
         }
      }
   }
   .lua {
      img {
         margin-top: 50px;
         height: 50vh;
         width: 100%;
         object-fit: cover;
      }
   }
}

@media screen and (max-width: 760px) {
   .portifolio {
      .portifolio-review {
         .portifolio-title {
            text-align: center;
            h1 {
               font-size: 24px;
            }
         }
         .standard_wrapper {
            display: block;
            text-align: center;
            .standard_wrapper-items {
               margin: 20px auto;
               max-width: 40%;
            }
         }
      }
   }
}
