.destination {
   margin-top: 70px;
   padding-bottom: 70px;
   .destination-title {
      text-align: center;
      h1 {
         font-size: 36px;
         text-transform: none;
         letter-spacing: 0px;
      }
      p {
         font-size: 15px;
         color: #8d9199;
      }
   }
   .popularPlaces {
      margin-top: 40px;
      .content {
         .images {
            display: flex;
            flex-flow: row;
            justify-content: center;
            .imade {
               flex-basis: 20%;
               max-width: 25%;
               padding: 15px;

               &:hover {
                  transform: translateY(-7px);
                  transition: 0.3s;
               }
               img {
                  height: 300px;
                  width: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  border-radius: 5px;
               }
               span {
                  font-weight: 700;
                  font-size: 24px;
                  color: white;
                  position: relative;
                  bottom: 50px;
                  cursor: pointer;
                  right: -15px;
               }
            }
         }
      }
   }
   .popular_country {
      padding: 0 15px;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      .country {
         flex-basis: 25%;
         max-width: 40%;
         margin-bottom: -20px;
         margin: 0 20px;

         display: flex;
         flex-direction: column;
         &:hover {
            transform: translateY(-7px);
            transition: 0.3s ease-in-out;

            box-shadow: -1px -1px 10px 5px rgb(152, 117, 117);
         }
         &:hover .nav_img-top span {
            transform: translateY(-7px);
            transition: 0.3s;

            font-size: 17px;
         }

         .nav_img-top {
            img {
               height: 250px;
               width: 100%;
               object-fit: cover;
               cursor: pointer;
            }

            span {
               bottom: 40px;
               position: relative;
               left: 0;
               background: #ff4a52;
               padding: 3px 10px 2px 10px;
               color: #fff;
               font-weight: 700;
               font-size: 15px;
            }
            .abc {
               text-decoration: line-through;
               color: #777;
            }
         }
         .nav-title-bootom {
            padding: 8px 17px;
            margin-top: -35px;
            border-bottom: 1px solid #d8d6d6;
            border-right: 1px solid #d8d6d6;
            border-left: 1px solid #d8d6d6;

            display: flex;
            flex-direction: column;
            flex: 1;

            .title {
               margin-bottom: 10px;
               h2 {
                  font-size: 20px;
                  font-weight: 700;
               }
               p {
                  font-size: 13px;
                  opacity: 0.8;
               }
            }
            .rating {
               display: flex;
               justify-content: space-between;
               // margin-top: 15px;
               flex-wrap: wrap;
               margin-top: auto;
               flex-shrink: 0;

               .rating-star {
                  display: flex;
                  .stars {
                     margin-top: -2px;
                     .star {
                        color: #1ec6b6;
                        font-size: 13px;
                     }
                     .nostar {
                        font-size: 13px;
                     }
                  }
                  p {
                     font-size: 12px;
                  }
               }
               .howlong {
                  display: flex;
                  .time {
                     margin-top: 1px;

                     font-size: 13px;
                  }
                  p {
                     font-size: 12px;
                  }
               }
            }
         }
      }
   }
}
