.home-narbar {
   display: flex;
   position: fixed;
   z-index: 100000;
   color: white;
   width: 100%;
}

.navbar {
   display: flex;
}

.shop {
   margin-left: 7px;
   position: relative;
   top: -3px;
}

.nav-area {
   align-items: center;

   height: 80px;

   display: flex;
   width: 100%;
   justify-content: space-around;
}

.logo {
   text-decoration: none;
   font-size: 25px;
   color: inherit;
   margin-right: 20px;
}

.logo img {
   height: 25px;
}

.menus {
   display: flex;
   list-style: none;
}

.menu-items {
   position: relative;
   font-size: 14px;
}

.menu-items a {
   display: block;
   font-size: inherit;
   color: inherit;
   text-decoration: none;
}

.menu-items button {
   color: inherit;
   font-size: inherit;
   border: none;
   background-color: transparent;
   cursor: pointer;
   width: 100%;
}

.menu-items a {
   text-align: left;
   padding: 0.7rem 1rem;
   font-weight: 500;
}

.menu-items > button {
   text-align: left;

   padding-left: 16px;
   font-weight: 500;
}

.menu-items a:hover,
.menu-items button:hover {
   color: #ff4a52;
}

.dropdown {
   position: absolute;
   color: black;
   width: 250px;
   box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
   font-size: 0.875rem;
   z-index: 9999;
   min-width: 10rem;

   list-style: none;
   background-color: #fff;
   border-radius: 0.5rem;
   display: none;
}

.dropdown > .menu-items {
   width: 101%;
}

.dropdown.show {
   display: block;
}

.dropdown .dropdown-submenu {
   position: absolute;

   left: 100%;
   top: 0px;
}

.icons {
   font-size: 10px;
}

.payment {
   display: flex;
   padding: 3px 0;
   margin-left: 20px;
   cursor: pointer;
}

.number {
   position: absolute;
   top: -10px;
   right: -10px;
   border-radius: 50px;
   background: #ff4a52;
   z-index: 2;
   width: 16px;
   height: 17px;
}

.number .point {
   position: absolute;
   top: 4px;
   right: 4px;
   border-radius: 50px;
   background: #ff4a52;
   z-index: 2;
   width: 7px;
   height: 8px;
   border: solid 1px white;
}

.boottom-devide {
   width: 85%;
   margin: 0 auto;
   border-bottom: 1px solid #dce0e0;
}

.menu-items > button > .cap1 {
   border-bottom: 1px solid #dce0e0;
   display: flex;
   justify-content: space-between;
}

.cap1 > span {
   padding-top: 12px;
   padding-bottom: 12px;
}

.dropdown > .menu-items:hover {
   display: block;
}

.icons-right {
   position: relative;
   top: 17px;
   right: 20px;
   font-size: 10px;
}

.cap2 {
   padding-bottom: 20px;
}

@media screen and (max-width: 950px) {
   .home-narbar {
      .nav-area {
         justify-content: space-between;
         margin: 0 30px;
         .navbar {
            .show_nav {
               display: none;
            }
         }
      }
   }
}

.an-nav {
   opacity: 0;
   visibility: hidden;
   transition: 0.5s;
}

.class1 {
   .hien-nav {
      .navbar-content {
         .home-narbar {
            background-color: white;
            color: black;

            transition: 0.6s;
            border-bottom: 1px solid rgb(236, 231, 231);
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
         }
      }
   }
}
